*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #104f68;
}
.main{
    background: #fff;
    padding: 30px;
    margin: 100px auto 0;
    width: 85%;
    max-width: 600px;
    border-radius: 10px;
}
.main h1{
     color: #104f68;
     font-weight: 600;
     border-bottom: 1px solid #333;
     padding-bottom: 30px; 
     font-size: 30px;
}
.quiz{
     padding: 20px 0; 
}
.quiz h2{
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    border: 1px solid #222;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
   background: #9b9898;
   color: #fff;
}
#next{
    background: #104f68;
    color: #fff;
    margin: 20px auto 0;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    display: none;
}